In [5]:
# importing pandas library
import pandas as pd

# storing the data path into a variable for easier reading and access
melbourne_data_path = "../melb_data.csv"

# we can read the data by using read_csv method/function of pd library
# calling it will return a DataFrame object that has many useful methods
melbourne_data = pd.read_csv(melbourne_data_path)

# one of them is to describe our data
y = melbourne_data.Price
# print(melbourne_data.columns[-1])

melbourne_data.describe()

features = ["Rooms", "Distance", "Bathroom", "Landsize", "Longtitude", "Lattitude"]

X = melbourne_data[features]

X.head(10)

   Rooms  Distance  Bathroom  Landsize  Longtitude  Lattitude
0      2       2.5       1.0     202.0    144.9984   -37.7996
1      2       2.5       1.0     156.0    144.9934   -37.8079
2      3       2.5       2.0     134.0    144.9944   -37.8093
3      3       2.5       2.0      94.0    144.9969   -37.7969
4      4       2.5       1.0     120.0    144.9941   -37.8072
5      2       2.5       1.0     181.0    144.9953   -37.8041
6      3       2.5       2.0     245.0    144.9993   -37.8024
7      2       2.5       1.0     256.0    144.9954   -37.8060
8      1       2.5       1.0       0.0    144.9973   -37.8008
9      2       2.5       1.0     220.0    144.9989   -37.8010

In [9]:
from sklearn.tree import DecisionTreeRegressor

melbourne_model = DecisionTreeRegressor(random_state=1)

melbourne_model.fit(X, y)

melbourne_model.predict(X.head())

array([1480000., 1035000., 1465000.,  850000., 1600000.])

In [11]:
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64